:root {
    --main-bg-color_light: #8788A4;
    --main-bg-color_base: #46486F;
    --main-bg-color_medium: #1C1F47;
    --main-bg-color_dark: #1c1e45;
    --secondary-bg-color_light: #FF8E7D;
    --secondary-bg-color_base: #E54228;
    --secondary-bg-color_medium: #951400;
    --secondary-bg-color_dark: #450900;
    --money-bg-color_base: #14A41A;
    --money-bg-color_en_carro: #80BF83;
    --money-bg-color_hover: #0a5c0d;
    --blanco-puro: #FFF;
    --blanco-principal: #DFDFDF;
    --gris-principal: #555555;
    --negro-principal: #222222;
    --negro-puro: #000;
    --radius: 20px;

}

.home_main-container{
    display: flex;
    flex-direction: column;
    /*width: 90%;*/
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.home_categoria-container{
    width: 90%;
    color: var(--negro-puro);
}
.home_categoria-container.especial{
    width: 100%;
    color: var(--blanco-puro);
}
.home_categoria-container > h1{
    text-transform: capitalize;
    padding: 10px 15px;
}
/* Inicio Carrusel */
    .categoria-carrusel{
        display: flex;
        position: relative;
        max-width: 1200px;
    }
    .categoria-carrusel i{
        position: absolute;
        top: 50%;
        height: 44px;
        width: 44px;
        color: #343F4F;
        cursor: pointer;
        font-size: 1.15rem;
        text-align: center;
        line-height: 44px;
        background: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
    }
    .categoria-carrusel i:active{
        transform: translateY(-50%) scale(0.9);
    }
    .categoria-carrusel i:hover{
        background: #f2f2f2;
    }
    .categoria-carrusel i:first-child{
        left: -22px;
        display: none;
    }
    .categoria-carrusel i:last-child{
        right: -22px;
    }
    .categoria-carrusel .home_categoria{
        font-size: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .home_categoria.dragging{
        cursor: grab;
        scroll-behavior: auto;
    }
    .home_categoria.dragging img{
        pointer-events: none;
    }
    .home_categoria img:first-child{
        margin-left: 0px;
    }
/* Fin Carrusel */

.home_categoria{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.home_categoria--juego > img{
    height: 150px;
    width: 150px;
}

/*

.juego_precio_sin-compra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-top: -4px;
    height: 40px;
    width: 150px;
    background-color: var(--money-bg-color_base);
    color: var(--blanco-puro);
    border-radius: 0 0 15px 15px;
    position: relative;
    overflow: hidden;
}
.juego_precio_sin-compra span {
    font-size: 25px;
    z-index: 1;
}
.juego_precio_sin-compra img {
    z-index: 1;
}
/*testeo animacion card*/
.juego_precio_sin-compra {
    width: 150px;
    height: 40px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    border-radius: 0 0 15px 15px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-top: -4px;
    background-color: var(--money-bg-color_base);
    color: var(--blanco-puro);
}
.juego_precio_sin-compra span {
    font-size: 25px;
    z-index: 1;
}
.juego_precio_sin-compra img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    z-index: 1;
}
.juego_precio_sin-compra:hover img {
    transform: scale(1.1);
}
.juego_precio_sin-compra:hover {
    border: 1px solid var(--blanco-puro);
}

/*---------------------*/

.hover_compra {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--money-bg-color_hover);
    z-index: 0;
}
.juego_precio_sin-compra:hover .hover_compra{
    width: 100%;
    transition: width 300ms;
    left: 0;
}

.juego_add-carr{
    height: 30px;
    width: 30px;
}

/* Menu desplegable */
.menu-desplegable_linea-separadora{
    width: 100%;
    height: 1px;
    background-color: var(--blanco-principal);
}
.main_header_item{
    position: relative;
    cursor: pointer;
}
.main_header_item:hover > ul {
    opacity: 1;
    visibility: visible;
    height: unset;
    transform: scaleY(1);
}
.main_header_item > ul{
    background: var(--main-bg-color_base);
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    height: 100px;
    height: 0;
    position: absolute;
    top: 48px;
    gap: 5px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s;
    z-index: 3;
}
.main_header_item > ul::before {
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--main-bg-color_base);
    transform: rotate(45deg);
    top: -7px;
    left: 20px;
    z-index: -1;
}
.carrito_juego, 
.user_opt{
    color: var(--blanco-principal);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
    padding: 0.5rem 0.5rem;
}
.carrito_juego.seleccionable:hover,
.user_opt:hover{
    color: var(--blanco-puro);
}
/* Carrito de compras*/
.carrito_juego,
.carrito_sin-juego{
    width: 400px;
}
.carrito_sin-juego{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.carrito_juego{
    justify-content: space-between;
}
.carrito_juego span{
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.carrito_precio-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--blanco-principal);
}
/* User desplegable */
.user_opt{
    justify-content: flex-end;
    gap: 10px;
    width: 200px;
}

@media only screen and (max-width: 600px) {

}