:root {
    --main-bg-color_light: #8788A4;
    --main-bg-color_base: #46486F;
    --main-bg-color_medium: #1C1F47;
    --main-bg-color_dark: #1c1e45;
    --secondary-bg-color_light: #FF8E7D;
    --secondary-bg-color_base: #E54228;
    --secondary-bg-color_medium: #951400;
    --secondary-bg-color_dark: #450900;
    --money-bg-color_base: #14A41A;
    --blanco-puro: #FFF;
    --blanco-principal: #DFDFDF;
    --gris-principal: #555555;
    --negro-principal: #222222;
    --negro-puro: #000;
    --radius: 20px;

}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Roboto";
}
header{
    margin-bottom: 20px;
}
body{
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_light));
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
main{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
button{
    cursor: pointer;
}
/* Buttons */
.button-primary{

    padding: 18px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0;
    min-width: 200px;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}
.button-terciary{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.267px;
}
.button-social{
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Main header */
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header-searchbar-container{
    position: relative;
}
.main_header-searchbar{
    height: 30px;
    width: 300px;
    border-radius: var(--radius);
    padding: 15px;
    background-color: var(--blanco-principal);
}
.main_header-searchbar--lupa{
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 11px; 
    height: 23px;
}
.main_header-sub-container{
    display: flex;
    gap: 20px;
}
.main_header-sub-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 34px;
    color: var(--blanco-puro);
    background-color: var(--main-bg-color_light);
}
.main_header_item.user{
    width: 72px;
}
.main_header_item.carrito{
    gap: 10px;
    width: 120px;
}
.main_header_item img{
    height: 30px;
}

/* Login Header */
.login_header{
    width: 90%;
    display: flex;
    justify-content: center;
}
.header--logo{
    height: 30%;
    width: 15%;
}




/* Login Page */
/* Login form */
.login_form-container{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_base));
    min-height: 600px;
    padding: 10px 40px;
    gap: 1em;
    border-radius: var(--radius);
    border: 2px solid var(--main-bg-color_dark);
}
.login_form-container h2 {
    color: var(--blanco-puro);
}
.login_form-container form{
    display: grid;
    grid-template-columns: 1fr;
}
.login_form-input--container{
    display: flex;
    flex-direction: column;
    color: var(--blanco-principal);
}
.login_form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login_form-input--container input{
    border-radius: 4px;
    height: 10px;
    width: 240px;
    padding: 10px;
    background-color: var(--blanco-principal);
}

.ok {
    border: 3px solid var(--money-bg-color_base);
}

.error {
    border: 3px solid var(--secondary-bg-color_medium);
}

.login_linea-separacion-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    color: var(--blanco-principal);
}
.login_linea-separacion{
    height: 1%;
    width: 100%;
    display: inline;
    background-color: var(--negro-principal);
}
.login_sesion-externa{
    display: flex;
    gap: 20px;
}
.login_sesion-externa button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
    border-radius: 26px;
    width: 130px;
    height: 40px;
}
.login_captcha{
    position: relative;
    height: 70px;
    width: 250px;
    background-color: var(--blanco-principal);
}
.login_captcha_cuadrado-ok{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30.85px;
    width: 30.85px;
    border: 1px solid var(--negro-principal);
    background-color: var(--blanco-puro);
}
.palomita_ok{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30.85px;
    width: 35.85px;
}
.login_captcha p{
    position: absolute;
    top: 28px;
    left: 70px;
    color: var(--negro-principal);
}
.login_captcha img{
    position: absolute;
    top: 20px;
    right: 20px;
}
.login_iniciar-sesion_btn{
    height: 50px;
    width: 220px;
    border-radius: 30px;
    color: var(--blanco-puro);
    background-color: var(--secondary-bg-color_light);
}

.login_iniciar-sesion_btn::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background: var(--secondary-bg-color_dark);
    transition: all 0.7s ease-in-out;
    z-index: -1;
    transform: translateX(-300px)       
    skew(-20deg);
}


.login_iniciar-sesion_btn:hover::before {
    transform: translateX(0px) skew(-20deg);
}

.login_cambiar-form_btn{
    height: 35px;
    /*
    width: 294px;
    margin-bottom: 50px;*/
    background: transparent;
    color: var(--blanco-puro);
    position: relative;
    overflow: hidden;
}

.login_cambiar-form_btn span::before {
    content: "";
    background: var(--blanco-puro);
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 2000px;
    transform: scaleX(0);
    animation: 1s forwards no-hover-v linear;
    animation-fill-mode: forwards;
}

.login_cambiar-form_btn:hover span::before {
    animation: 0.5s forwards hover-v linear;
    animation-fill-mode: forwards;
}

@keyframes hover-v {
    0% {
        transform: scaleX(0);
        height: 1px;
    }
    45% {
        transform: scaleX(1);
        height: 2px;
    }
    55% {
        height: 3px;
    }
    100% {
        transform: scaleX(1);
        height: 3px;
    }
}

/* Pagina Juego */
nav{
    text-align: left;
    width: 90%;
    margin: 0 0 0 10%;
}
.breadcrumb{
    align-self: first baseline;
    padding: 0.5rem 0rem 0.1rem 0rem;
    font-size: 20px;
    text-transform: capitalize;

}
.jugable_breadcrumb-span{
    color: var(--blanco-puro);
}
nav > p > .breadcrumb{
    align-self: first baseline;
    padding: 1rem 0rem 0.5rem 0rem;
    font-size: 20px;
    text-transform: capitalize;
}
.cuerpo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    margin: 0 1rem; 
}
.publicidad {
    max-width: 30%; 
    overflow: hidden; 
}
.publicidad img {
    max-width: 80%; 
    max-height: 100%; 
}
.juego_producto {
    display: flex;
    max-width: 100%; 
    background-color: var(--main-bg-color_dark);
    border: var(--main-bg-color_dark) solid 1em;
    border-radius: var(--radius);
}
.juego {
    flex: 1.5;
}
.juego img {
    max-width: 100%; 
}
.instrucciones {
    color: var(--blanco-principal);
    background-color: var(--main-bg-color_light);
    display: flex;
    flex-direction: column;
    flex: 0.5;
    padding: 3% 3%;
    text-align: center;
    font-size: 1em;
    border-radius: 0 var(--radius) var(--radius) 0;
}
.instrucciones {
    font-size: 1em; 
}
.instructivo {
    margin-bottom: 20px;
}
.instrucciones h4 {
    font-size: 2em; 
    font-weight: bolder;
} 
.instructivo span {
    font-size: 1.5em; 
    font-weight: bolder;
} 
.instructivo p {
    font-size: 1.2em; 
}
.instructivo svg {
    width: 3em;
    height: 3em; 
}
/* ---------------------------------------- */
/* Comentarios */
.seccion_comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: var(--negro-puro);
}
.comentarios_logo{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.5em;
    padding: 0px 12%;
    color: var(--blanco-principal);
}


.comentarios_linea-separadora{
    width: 80%;
    height: 1px;
    background-color: var(--negro-principal);
    margin-bottom: 1rem;
}
.comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: var(--blanco-principal);
}
.comentario.nuevo{
    height: 230px;
}
.comentario.viejo{
    height: 200px;
}
.comentario_user{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    padding: 10px 5%;
    gap: 20px;
}
.comentario_user p{
    font-weight: bolder;
    font-size: 25px;
}
.usario_nombre_img{
    display: flex;
    width: 50%;
    gap: 20px;
}
.comentario-individual_linea-separadora{
    width: 90%;
    height: 1px;
    background-color: var(--negro-principal);
}
.escribir-comentario{
    margin-top: 10px;
    width: 80%;
    height: 45%;
    padding: 10px;
    background-color: inherit;
    border: 1px solid var(--gris-principal);
}
.escribir-comentario::placeholder{
    text-align: start;
}
.comentario_send-btn{
    align-self: flex-end;
    margin-top: 1%;
    margin-right: 10%;
    width: 200px;
}
.texto_comentario-viejo, 
.fecha_comentario-viejo{
    align-self: flex-start;
    text-transform: capitalize;
    padding: 2% 5%;
}
.fecha_comentario-viejo{
    color: var(--gris-principal);
}
.likes_comentario-viejo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
}
.likes_comentario-viejo span{
    font-weight: bolder;
}
/* Footer */
footer{
    margin-top: 7%;
    width: 100%;
}
.footer_main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    padding: 25px;
    gap: 30px;
    color: var(--blanco-principal);
    background-color: var(--gris-principal);
}
.footer_main-texto{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.footer_copyright-texto{
    align-self: flex-start;
}
.footer_logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: var(--negro-principal);
}
.footer_logo-container img{
    height: 50px;
    width: 50px;
}
.hidden{
    display: none;
}

/*Pantalla de Carga*/

.box{
    width:20rem;
    height:20rem;
    background:none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .underline{
    width:100%;
    background:var(--secondary-bg-color_base);
    height:10px;
    margin-top:130px;
    animation: underline 5s ease-in-out infinite; 
  }
  @keyframes underline {
      0%    {width:0%;float:left;}
      50%   {width:100%;}
  }