:root {
    --main-bg-color_light: #8788A4;
    --main-bg-color_dark: #1c1e45;
    --secondary-bg-color_light: #FF8E7D;
    --blanco-puro: #FFF;
    --blanco-principal: #DFDFDF;
    --negro-puro: #000;
    --negro-principal: #222;
    --gris-principal: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
header{
    margin-bottom: 20px;
}
body{
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_light));
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
main{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
button{
    cursor: pointer;
}
/* Main header */
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header-searchbar-container{
    position: relative;
}
.main_header-searchbar{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--blanco-principal);
}
.main_header-searchbar--lupa{
    position: absolute;
    top: 3px;
    right: 12px; 
    height: 25px;
}
.main_header-sub-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.main_header-sub-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 34px;
    color: var(--blanco-puro);
    background-color: var(--main-bg-color_light);
}
.main_header_carrito{
    width: 72px;
}
.main_header_user{
    gap: 10px;
    width: 120px;
}
.main_header_carrito img,
.main_header_user img{
    height: 30px;
}
/* Login Header */
.login_header{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header--logo{
    height: 30%;
    width: 15%;
}
/* Home */
.home_juego-destacado{
    width: 90%;
}




/* Login Form */
.login_form-container{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_light));
    min-height: 600px;
    width: 635px;
    gap: 20px;
}
.login_form-container h2 {
    margin-top: 30px;
    color: var(--blanco-puro);
}
.login_form-container form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.login_form-input--container{
    display: flex;
    flex-direction: column;
    color: var(--blanco-principal);
}
.login_form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_form-input--container label{
    padding-left: 7px;
    padding-bottom: 2px;
}
.login_form-input--container input{
    border-radius: 8.71px;
    border: none;
    outline: none;
    height: 34.85px;
    width: 258.07px;
    padding: 10px;
    background-color: var(--blanco-principal);
}
.login_linea-separacion-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    color: var(--blanco-principal);
}
.login_linea-separacion{
    height: 1%;
    width: 100%;
    display: inline;
    background-color: var(--negro-principal);
}
.login_sesion-externa{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.login_sesion-externa button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    border-radius: 26px;
    width: 167.66px;
    height: 44.71px;
}
.login_captcha{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 74.05px;
    width: 277.67px;
    background-color: var(--blanco-principal);
}
.login_captcha_cuadrado-ok{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30.85px;
    width: 30.85px;
    border: 1px solid var(--negro-principal);
    background-color: var(--blanco-puro);
}
.palomita_ok{
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    box-shadow: none;
    height: 30.85px;
    width: 35.85px;
}
.login_captcha p{
    position: absolute;
    top: 28px;
    left: 70px;
    color: var(--negro-principal);
}
.login_captcha img{
    position: absolute;
    top: 20px;
    right: 20px;
}
.login_iniciar-sesion_btn{
    height: 63.16px;
    width: 270.05px;
    border-radius: 217.78px;
    color: var(--negro-puro);
    background-color: var(--secondary-bg-color_light);
}
.login_sin-cuenta_btn{
    height: 35px;
    width: 294px;
    margin-bottom: 50px;
    background: transparent;
    color: var(--blanco-puro);
}
.login_sin-cuenta_btn span{
    height: 70px;
}
.login_sin-cuenta_btn span:hover{
    border-bottom: 2px solid var(--negro-principal);
}
/* Footer */
footer{
    margin-top: 7%;
    width: 100%;
}
.footer_main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    padding: 25px;
    gap: 30px;
    color: var(--blanco-principal);
    background-color: var(--gris-principal);
}
.footer_main-texto{
    width: 80%;
}
.footer_copyright-texto{
    align-self: flex-start;
}
.footer_logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: var(--negro-principal);
}
.footer_logo-container img{
    height: 50px;
    width: 50px;
}

.hidden{
    display: none;
}