:root {
    --main-bg-color_light: #8788A4;
    --main-bg-color_base: #46486F;
    --main-bg-color_medium: #1C1F47;
    --main-bg-color_dark: #1c1e45;
    --secondary-bg-color_light: #FF8E7D;
    --secondary-bg-color_base: #E54228;
    --secondary-bg-color_medium: #951400;
    --secondary-bg-color_dark: #450900;
    --money-bg-color_base: #14A41A;
    --blanco-puro: #FFF;
    --blanco-principal: #DFDFDF;
    --gris-principal: #555555;
    --negro-principal: #222222;
    --negro-puro: #000;
    --radius: 20px;

}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Roboto";
}
header{
    margin-bottom: 20px;
}
body{
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_light));
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
main{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
button{
    cursor: pointer;
}
.button-primary{
    text-align: center;
    font-size: 21.778px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.267px;
}
.button-Terciary{
    text-align: center;
    font-size: 21.778px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.267px;
}
.button-social{
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Main header */
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header-searchbar-container{
    position: relative;
}
.main_header-searchbar{
    height: 30px;
    width: 300px;
    border-radius: var(--radius);
    padding: 15px;
    background-color: var(--blanco-principal);
}
.main_header-searchbar--lupa{
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 11px; 
    height: 23px;
}
.main_header-sub-container{
    display: flex;
    gap: 20px;
}
.main_header-sub-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 34px;
    color: var(--blanco-puro);
    background-color: var(--main-bg-color_light);
}
.main_header_carrito{
    width: 72px;
}
.main_header_user{
    gap: 10px;
    width: 120px;
}
.main_header_carrito img,
.main_header_user img{
    height: 30px;
}
/* Login Header */
.login_header{
    width: 90%;
    display: flex;
    justify-content: center;
}
.header--logo{
    height: 30%;
    width: 15%;
}
/* Home Page */
.home_juego-destacado{
    width: 90%;
}


/* Login Page */
/* Login form */
.login_form-container{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(var(--main-bg-color_dark), var(--main-bg-color_base));
    min-height: 600px;
    width: 635px;
    gap: 1em;
    border-radius: var(--radius);
    border: 2px solid var(--main-bg-color_dark);
}
.login_form-container h2 {
    margin-top: 30px;
    color: var(--blanco-puro);
}
.login_form-container form{
    display: grid;
    grid-template-columns: 1fr;
}
.login_form-input--container{
    display: flex;
    flex-direction: column;
    color: var(--blanco-principal);
}
.login_form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_form-input--container label{
    padding-left: 7px;
    padding-bottom: 2px;
}
.login_form-input--container input{
    border-radius: 8.71px;
    height: 34.85px;
    width: 258.07px;
    padding: 10px;
    background-color: var(--blanco-principal);
}
.login_linea-separacion-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    color: var(--blanco-principal);
}
.login_linea-separacion{
    height: 1%;
    width: 100%;
    display: inline;
    background-color: var(--negro-principal);
}
.login_sesion-externa{
    display: flex;
    gap: 20px;
}
.login_sesion-externa button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    border-radius: 26px;
    width: 167.66px;
    height: 44.71px;
}
.login_captcha{
    position: relative;
    height: 74.05px;
    width: 277.67px;
    background-color: var(--blanco-principal);
}
.login_captcha_cuadrado-ok{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30.85px;
    width: 30.85px;
    border: 1px solid var(--negro-principal);
    background-color: var(--blanco-puro);
}
.palomita_ok{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30.85px;
    width: 35.85px;
}
.login_captcha p{
    position: absolute;
    top: 28px;
    left: 70px;
    color: var(--negro-principal);
}
.login_captcha img{
    position: absolute;
    top: 20px;
    right: 20px;
}
.login_iniciar-sesion_btn{
    height: 63.16px;
    width: 270.05px;
    border-radius: 217.78px;
    color: var(--negro-puro);
    background-color: var(--secondary-bg-color_light);
}
.login_sin-cuenta_btn{
    height: 35px;
    width: 294px;
    margin-bottom: 50px;
    background: transparent;
    color: var(--blanco-puro);
}
.login_sin-cuenta_btn span{
    height: 70px;
}
.login_sin-cuenta_btn span:hover{
    border-bottom: 2px solid var(--negro-principal);
}
/* Footer */
footer{
    margin-top: 7%;
    width: 100%;
}
.footer_main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    padding: 25px;
    gap: 30px;
    color: var(--blanco-principal);
    background-color: var(--gris-principal);
}
.footer_main-texto{
    width: 80%;
}
.footer_copyright-texto{
    align-self: flex-start;
}
.footer_logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: var(--negro-principal);
}
.footer_logo-container img{
    height: 50px;
    width: 50px;
}



.hidden{
    display: none;
}