:root {
    --dark-gray: #5E5E5D;
    --main-black: #242424;
    --pure-white: #FFF;
    --pure-black: #000;
    --main-yellow: #FFE901;
    --primary_btn-hover: #FFBB00;
    --loader-bg: #e02f39;
    --main-purple: #8F6AA6;
    --dark-blue: #02187E;
    --light-blue: #2982FF;
    --sky-top: #5468F8;
    --sky-bottom: #5499F8;
    --sky-dark-botom:#5499F800;
    --pre-footer-top:#8FBEFC;
    --pre-footer-bottom:#F7E3D8;
}
@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Italic.ttf);
    font-weight: italic;
}
@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-BlackItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Light.ttf);
    font-weight: lighter;
    background-color: var(--main-bg-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
html, 
body,
header{
    width: 1280px;
    background-color: var(--pure-white);
}
html{
    min-height: 100%;
}
body,
main{
    min-height: 100vh;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
/* Texto*/
.txt {
    line-height: 24px;
}
.titulo-seccion {
    font-size: 60px;
    font-weight: 600;
    line-height: 57px;
}
.txt-center {
    text-align: center;
}
.titulo-subseccion,
.txt-btn {
    font-weight: bold;
}
.titulo-subseccion {
    font-size: 40px;
    line-height: 38px;
}
.txt-btn {
    letter-spacing: 0.11em;
    color: var(--primary-dark-color);
    padding: 1rem 0.5rem;
}
.txt-footer,
.placeholder {
    letter-spacing: 0.11em;
}
.txt-footer,
.txt-btn,
.placeholder,
.txt-declaracion-legal {
    /*.txt-declaracion-legal es para el <p> que esta debajo de donde uno ingresa su email en la seccion "LO ULTIMO DE SPIDEY"*/
    line-height: 19px;
}
.placeholder {
    color: rgba(0, 0, 0, 0.39);
    font-weight: lighter;
}
/* Primary Button */
.primary_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 21px;
    font-weight: 900;
    border-radius: 111px;
    color: var(--dark-blue);
    background-color: var(--main-yellow);
}
.primary_btn > span{
    position: relative;
    z-index: 2;
    transition: .5s ease all;
}
.primary_btn.buy::after{
    content: "";
    width: 1px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .4s ease-in-out all;
    border-radius: 20px;
}
.primary_btn:hover.buy::after{
    transform: scale(400);
    background-color: var(--primary_btn-hover)
}
/* HEADER */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px;
    padding: 0 5%;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}
.header_at_top{
    height: 100px;
    background: linear-gradient(var(--sky-top), var(--sky-bottom) 80%, var(--sky-dark-botom));
}
.header_low{
    height: 90px;
    background: var(--sky-bottom);
}
/* Menu hamburguesa*/
.menu_main-container{
    position: relative;
    width: 100px;
    height: 500px;
}
.menu-hamburguesa,
.menu_desplegado{
    display: flex;
}
.menu-hamburguesa{
    position: relative;
    flex-direction: column;
    height: 26px;
    width: 34px;
}
.menuH_rec.rec1,
.menuH_rec.rec2,
.menuH_rec.rec3{
    cursor: pointer;
    position: absolute;
    left: 20px;
    transition: 1s ease-in-out;
}
.menuH_rec.rec1{
    top: 0;
    opacity: 1;
}
.menuH_rec.rec2{
    top: 10px;
}
.menuH_rec.rec3{
    top: 20px;
}
.menuH_rec.rec1.rec-to-x{
    top: -100px;
    opacity: 0;
}
.menuH_rec.rec2.rec-to-x{
    transform: rotate(45deg);
}
.menuH_rec.rec3.rec-to-x{
    top: 10px;
    transform: rotate(-45deg);
}
.menu_desplegado_list{
    position: absolute;
    top: 40px;
    left: -45px;
}
.menu_list-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 10px 0;
    width: 200px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--pure-black);
    background-color: var(--main-yellow);
    border-bottom: 1px solid var(--pure-black);
    opacity: 0;
    transform: translateX(-300px);
    transition-timing-function: ease-out;
}
.menu_list-item > img{
    height: 30px;
    width: 30px;
}
.menu_list-item:last-child{
    border: none;
}
.menu_list-item.item1{
    transition-duration: 1s;
}
.menu_list-item.item2{
    transition-duration: 1.5s;
}
.menu_list-item.item3{
    transition-duration: 2s;
}
.menu_list-item.visible-item{
    opacity: 1;
    transform: translateX(0);
}
.header-btn {
    width: 200px;
    height: 50px;
    border: 7px solid var(--light-blue);
}
.header-miniLogo {
    height: 100%;
    display: flex;
    align-items: center;
}
.miniLogo{
    opacity: 0;
}
.miniLogo img {
    height: 70px;
}
/*Paralax Spidermans*/
.first-section {
    background-image: url(../Images/first-section/bg.png);
    width: 100%;
    height: 875px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
.front-first-section {
    width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.edificio_izq {
    background-image: url(../Images/first-section/left-building.png);
    width: 452px;
    height: 720px;
    z-index: 1;
    left: -53px;
    bottom: 0;
    opacity: 1;
    position: absolute;
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
    background-repeat: no-repeat;
}
.edificio_centro {
    background-image: url(../Images/first-section/center_building.png);
    width: 543px;
    height: 213px;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    opacity: 1;
    transition: all 0.3s ease-in;
}
.edificio_der {
    background-image: url(../Images/first-section/right-building.png);
    width: 374px;
    height: 727px;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 1;
}
.big-Logo {
    width: 590px;
    height: 301px;
    position: relative;
    z-index: 11;
    opacity: 1;
    scale: 1;
    transition: all 0.5s ease-in;
    transition-delay: 0.8s;
}
.big-Logo img {
    width: 100%;
    height: 100%;
}
.spidermans-container {
    width: 100%;
    display: flex;
    position: relative;
}
.spidermans-container img {
    width: 100%;
    height: 100%;
}
.spidermans-container>div{
    transition: 0.5s ease-in-out;
}
.spiderman_izq {
    background-image: url(../images/first-section/gwen.png);
    width: 360px;
    height: 444px;
    position: absolute;
    top: -10px;
    left: -13px;
    opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.5s;
    z-index: 1;
}
.spiderman_centro {
    background-image: url(../images/first-section/peter.png);
    width: 465px;
    height: 465px;
    position: relative;
    left: 330px;
    top: 20px;
    opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.5s;
    z-index: 1;
}
.spiderman_der {
    background-image: url(../images/first-section/miles.png);
    height: 393px;
    width: 393px;
    position: absolute;
    left: 630px;
    top: -60px;
    opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.5s;
    z-index: 1;
}
.t_izq {
    background-image: url(../images/first-section/peter-web.png);
    width: 578px;
    height: 671px;
    top: -10px;
    left: -80px;
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 4;
    transition: all 0.3s ease-in;
    transition-delay: 0.7s;
}
.t_der {
    background-image: url(../images/first-section/miles-web.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 299px;
    height: 389px;
    position: absolute;
    top: -18px;
    left: 900px;
    opacity: 1;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s;
    z-index: 5;
}
/* DUENDE VERDE */
.duende-verde_container {
    height: 850px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.morado_bg_container{
    position: absolute;
    height: 850px;
    width: 100%;
    top: -90px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    transform: translateZ(0);
    background-color: var(--main-purple);
    z-index: 1;
}
.duende-verde_info-text {
    width: 1080px;
    height: 100%;
    position: relative;
    padding-top: 20px;
    z-index: 2;
    color: var(--pure-white);
}
.duende-verde_info-text > .txt {
    width: 656px;
    margin-bottom: 2rem;
}
.duende-verde_info-text .titulo-seccion{
    margin-bottom: 24px;
}
.duende-verde_img {
    background-image: url(../images/duende-verde/duende-verde.png);
    position: absolute;
    width: 553px;
    height: 921px;
    top: -58px;
    right: -105px;
    transition: 0.6s ease-in-out;
    transform: translateY(-100px);
}
.amigos-pelean_img{
    width: 752px;
    height: 414px;
    background-image: url(../images/duende-verde/pjs.png);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    z-index: 1;
    transform: rotate(-2deg);
    border: 9px solid var(--pure-white);
    border-radius: 26px;
}
/* PRESENTACIONES PJs */
.presentacion-pj_container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.presentaciones_pjs {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.ficha_pj {
    width: 333px;
    height: 544px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-in;
}
.ficha_pj > p{
    width: 80%;
}
.fichaImg{
    width: 333px;
    height: 303px;
    border-radius: 41px;
    border: 9px solid var(--light-blue);
    box-shadow: 4px 5px 0px 0px var(--dark-blue);
    box-sizing: border-box; 
}
.fichaImg_animacion{
    opacity: 1;
    transform: translate(0px, 0px);
}
#imgTransition1{
    transition-delay: 0.3s;
}
#imgTransition2{
    transition-delay: 0.6s;
}
#imgTransition3{
    transition-delay: 0.9s;
}   
.imgPeter{
    background-image: url(../images/presentacion_pj/peter.png);
}
.imgMiles{
    background-image: url(../images/presentacion_pj/miles.png);
}
.imgGwen{
    background-image: url(../images/presentacion_pj/gwen.png);
}
/* GWEN - VENGADORES */
.gwen_vengadores {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    height: 711px;
    margin-bottom: -6%;
    /*
    margin-top: -55%;
    */
}
.gwen_container,
.vengadores_container {
    position: relative;
    width: 100%;
}
.gwen_container > img,
.vengadores_container > img {
    position: absolute;
}
/* GWEN */
.gwen_container {
    height: 650px;
}
.gwen_bg {
    top: 0;
    right: 0;
}
.gwen_card{
    z-index: 2;
    transform: translateX(-500px);
}
.gwen_card.sub1{
    top: -160px;
    left: 0;
    transition: .8s ease-out all;
}
.gwen_card.sub2 {
    top: -20px;
    left: 0;
    transition:1.2s  ease-out;
}
.gwen_card.sub3 {
    top: 170px;
    left: 0;
    transition: 1.6s ease-out all;
}
.gwen_card_visible{
    transform: translateX(0);
}
/* Parte 5 */

/* VENGADORES */
.vengadores_great-container {
    width: 100%;
    height: 984px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    justify-content: center;
}

.vengadores_background {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: -100px;
    background-color: var(--pure-black);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 85%);
    transform: translateZ(0);
    z-index: 1;
}

.vengadores_front {
    width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    padding-top: 140px;
    box-sizing: border-box;
    gap: 55.11px;
}

.vengadores_front > .titulo-seccion{
    width: 667px;
    color: var(--pure-white);
}

.vengadores_container{
    width: 100%;
    height: 527px;
    position: relative;
    display: flex;
    transition: all 0.5s ease-in;
}

.vengadores_upfront{
    position: absolute;
    z-index: 5;
}
.vengadores_trees{
    position: absolute;
    z-index: 3;
}
.vengadores_elastic{
    position: absolute;
    top: -93px;
    left: 40px;
    z-index: 4;
}
.vengadores_pantera{
    position: absolute;
    top: -250px;
    left: 460px;
    z-index: 4;
}
.vengadores_hulk{
    position: absolute;
    top: 115px;
    right: -43px;
    z-index: 4;
}
.vengadores_sky{
    position: absolute;
    top: -25px;
    left: -29px;
    z-index: 2;
}
/* EJEMPLOS JUEGO */
/* Primeros container */
.ej_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
}
.ej_article-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* position: relative; */
    width: 1080px;
    height: 100%;
}
.titulo-seccion{
    margin-bottom: 60px;
}
.ej_body{
    display: flex;
    justify-content: space-between;
    height: 1650px;
}
.ej_images{
    position: absolute;
    width: 552px;
    height: 1650px;
}
.ej_view{
    height: 302px;
    position: sticky; 
    top: 35%;
}
.EjJueImg {
    position: absolute;
    height: 100%;
    display: none;
}
/* Text-container */
.ej_text{
    display: flex;
    flex-direction: column;
    width: 467px;
    height: auto;
    position: relative;
    left: 601px;
    gap: 150px;
}
.ej_text-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    gap: 25px;
    transition: all 0.3s ease-in;
}
.EjJueImg.EjJueImg-view{
    /* transition: all 0.8s ease-in; */
    display: block;
}
/* Un gran poder - SECTION */
.spideys_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: 100%;
    font-size: 20px;
    height: 450px;
    padding-left: 5%;
    clip-path: polygon(0 0, 100% 15%, 100% 71%, 0 100%);
    transform: translateZ(0);
    color: var(--pure-white);
    background-color: var(--pure-black);
}
.spideys_text-info>p {
    width: 40%;
    font-size: 40px;
}
.primary_btn.btn_buy-now {
    width: 292px;
    height: 50px;
    font-size: 21px;
    box-shadow: 4px 5px;
    border: 7px solid var(--light-blue);
}
/* THREE SPIDEYS SECTION */
.spideys_img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    margin-bottom: -10px;
    margin-top: -133px;
    margin-bottom: -130px;
    height: 850px;
    width: 1280px;
}
.threeSpideys{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.three_gwen_bg{
    background: url(../images/spideys/bg_gwen.png);
}
.three_peter_bg{
    background: url(../images/spideys/bg_peter.png);
}
.three_miles_bg{
    background: url(../images/spideys/bg_miles.png);
}
.three_gwen_bg,
.three_miles_bg,
.three_peter_bg{
    z-index: 5;
    background-size: contain;
    background-repeat: no-repeat;
}
/* PRE-FOOTER */
.pre-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1296px;
    background: linear-gradient(var(--pre-footer-top), var(--pre-footer-bottom));
    position: relative;
    z-index: 3;
}
.pre-footer.clipped{
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
    transform: translateZ(0);
}
.city_pre-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Mail input */
.pre-footer_mail-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 200px;
}
.pre-footer_email-title {
    font-size: 50px;
    width: 80%;
    text-align: center;
    padding: 0 100px 30px 40px;
}
.pre-footer_email-conditions {
    font-size: 20px;
    width: 70%;
    padding: 40px 7%;
}
.pre-footer_email-conditions>span {
    text-decoration: underline;
}
.pre-footer-form_input-container {
    position: relative;
    display: inline-block;
    width: 780px;
    box-shadow: 4px 5px;
    border-radius: 111px;
    border: 7px solid var(--light-blue);
}
.email_input {
    width: 600px;
    padding: 0 40px;
    border-radius: 111px;
    border: none;
}
.email_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
    border: none;
    border-left: 7px solid var(--light-blue);
    border-radius: 0 111px 111px 0;
}
.email_input,
.email_submit {
    height: 100px;
}
/* Positions */
.pre-footer_age-rate {
    width: 231px;
    height: 145px;
    position: absolute;
    bottom: 500px;
    left: 300px;
}
.pre-footer_miles {
    width: 97px;
    height: 89px;
    position: absolute;
    bottom: 65px;
    left: 200px;
}
.pre-footer_gwen {
    width: 58px;
    height: 64px;
    position: absolute;
    bottom: 163px;
    left: 532px;
}
.pre-footer_peter {
    width: 41px;
    height: 53px;
    position: absolute;
    bottom: 245px;
    right: 200px;
    background: transparent url(../images/sprite-sheet/peter_sprite-sheet.png) 0 0 no-repeat;
    animation: move 3s steps(11) infinite;
    animation-play-state: paused;
}
.pre-footer_peter:hover{
    animation-play-state: running;
}
@keyframes move{
    100%{
        background-position: -476px 0;
    }
}
/* FOOTER */
footer {
    width: 100%;
}
.footer_playable-platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: var(--main-black);
}
.footer_main-info_container {
    height: 650px;
    background-color: var(--dark-gray);
    color: var(--pure-white);
}
.footer_main-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    margin: 0 50px 0 60px;
    padding-top: 50px;
    gap: 50px;
    font-size: 23px;
}
.footer_main-info > img {
    width: 212px;
    height: 41px;
}
/* LOADER */
.box{
    width:20rem;
    height:20rem;
    background:none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.underline{
    text-align: center;
    height: 20px;
    width: 100%;
    margin-top:130px;
    color: var(--pure-white);
    background: var(--loader-bg);
    animation: underline 5s ease-in-out; 
}
.underline > img{
    height: 1.3rem;
    width: 1.3rem;
}
@keyframes underline {
    0%    { width: 0%; float: left; }
    50%   { width: 100%; }
}
/* STATE */
.hidden{
    display: none;
}
.bg_white{
    background: var(--pure-white);
}
